<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="text/stylesheet" href="/css/index.css" />
    </head>

    <%- include("../layouts/index") %>

    <body>
        <p><%= title %></p>
        <a href="/">Home Page</a>
    </body>
</html>