<!DOCTYPE html>
<html>
    <head>
        <title><%= pgtitle %> | Results</title>
        <link rel="text/stylesheet" href="/css/index.css" />
    </head>
    
    <%- include("../layouts/index") %>

    <body>
        <p>Name: <%= name %></p>
        <p>Place: <%= place %></p>
        <a href="/">Back</a>
    </body>
</html>